<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.procedure.mapper.ProcedureMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.procedure.domain.Procedure">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="workmanship" property="workmanship"/>
        <result column="produce_num" property="produceNum"/>
        <result column="loss_num" property="lossNum"/>
        <result column="is_check" property="isCheck"/>
        <result column="check_time" property="checkTime"/>
        <result column="check_user" property="checkUser"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="delete_user" property="deleteUser"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="detail_value" property="detailValue"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_id, workmanship, produce_num, loss_num, is_check, check_time, check_user, create_user, create_time, update_user, update_time, is_delete, delete_user, delete_time, detail_value
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_procedure
        <where>
        </where>
        order by id desc
    </select>
    <select id="selectByOrder" resultType="me.zhengjie.modules.procedure.domain.Procedure">
        select b.*,a.label,dict_sort
        from (
            SELECT de.detail_id,de.label,de.`value`,de.dict_sort
            FROM `sys_dict_detail` de
            left join sys_dict di on di.dict_id = de.dict_id
            where di.`name`='procedure_status'
            order by de.dict_sort
        )a
        left join (
            select p.*,u.nick_name as createUserName
            from tb_order o
            left join tb_procedure p on o.id = p.order_id
            left join sys_user u on p.create_user = u.user_id
            where o.id = #{orderId} and p.is_delete=0
        )b on a.`value` = b.detail_value
    </select>
</mapper>